@font-face {
    font-family: 'px';
    src: url('fonts/proximanovabold.ttf');
  }
@font-face {
    font-family: 'px-italic';
    src: url('fonts/proximanovaitalics.otf')
}
body {
    background-color: #000000;
    text-align: 'center'
  }
  h1 {
    color: #FFFFFF;
    font-family: 'px';
    text-align: 'center'
  }
  h2 {
    color: #FFFFFF;
    font-family: 'px';
    text-align: 'center'}
  h3 {
      color: #FFFFFF;
      font-family: 'px';
      text-align: 'center'
  }
  h4 {
      font-family: 'px';
      text-align: 'center'
  }
  h5 {
      color: #FFFFFF;
      text-align: 'center';
      font-family: 'px-italic';
  }
  .nav {
    background-color:#000000;
    overflow:hidden;
    margin:auto;
    text-align:center
  }
  .graph_boxes {
    width:50%;
    text-align:center;
    background-color:#1DB954;
    padding:10px 10px
  }
  .bottom_boxes {
    width:49.5%;
    display:inline-block;
    margin:1px
  }