<!DOCTYPE html>
<html>

<head>

<title>Spotivolve</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-170210769-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-170210769-1');
</script>

</head>

<body>
<center>
<h1>SPOTIVOLVE</h1>
<h2><i>Track the evolution of your music taste over time.</i></h2>

<form action="/form" method="POST">
  <p><input type="submit" id="image-button" value= "Log In With Spotify"></p>
</form>

</center>
</body>

</html>